In [8]:
import $ivy.`org.apache.spark::spark-sql:3.2.0` //solo docker

import $ivy.$                                   //solo docker

In [9]:
import org.apache.spark.sql._
import org.apache.spark.sql.{functions => f} //TODOS

import org.apache.spark.sql._

import org.apache.spark.sql.{functions => f} //TODOS

In [10]:
val spark = SparkSession.builder // solo docker
    .appName("course")
    .master("local[2]")
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")
import spark.implicits._

spark: SparkSession = org.apache.spark.sql.SparkSession@4a89aee3
import spark.implicits._

In [11]:
spark.read
    .option("header", true)
    .option("inferSchema", "true")
    .csv("NYPD_Complaint_Data_Historic.csv")
    .registerTempTable("complaints")

In [12]:
spark.sql("select * from complaints limit 10").show()

+----------+------------+------------+------------+------------+----------+-----+--------------------+-----+--------------------+----------------+-----------+----------------+---------+-----------+-----------------+--------------------+--------+----------+----------+----------+------------+-------------+--------------------+
|CMPLNT_NUM|CMPLNT_FR_DT|CMPLNT_FR_TM|CMPLNT_TO_DT|CMPLNT_TO_TM|    RPT_DT|KY_CD|           OFNS_DESC|PD_CD|             PD_DESC|CRM_ATPT_CPTD_CD| LAW_CAT_CD|      JURIS_DESC|  BORO_NM|ADDR_PCT_CD|LOC_OF_OCCUR_DESC|       PREM_TYP_DESC|PARKS_NM|HADEVELOPT|X_COORD_CD|Y_COORD_CD|    Latitude|    Longitude|             Lat_Lon|
+----------+------------+------------+------------+------------+----------+-----+--------------------+-----+--------------------+----------------+-----------+----------------+---------+-----------+-----------------+--------------------+--------+----------+----------+----------+------------+-------------+--------------------+
| 101109527|  12/31/2015|    23:45:00|        null|        null|12/31/2015|  113|             FORGERY|  729|FORGERY,ETC.,UNCL...|       COMPLETED|     FELONY|N.Y. POLICE DEPT|    BRONX|         44|           INSIDE|      BAR/NIGHT CLUB|    null|      null|   1007314|    241257|40.828848333|-73.916661142|(40.828848333, -7...|
| 153401121|  12/31/2015|    23:36:00|        null|        null|12/31/2015|  101|MURDER & NON-NEGL...| null|                null|       COMPLETED|     FELONY|N.Y. POLICE DEPT|   QUEENS|        103|          OUTSIDE|                null|    null|      null|   1043991|    193406|40.697338138|-73.784556739|(40.697338138, -7...|
| 569369778|  12/31/2015|    23:30:00|        null|        null|12/31/2015|  117|     DANGEROUS DRUGS|  503|CONTROLLED SUBSTA...|       COMPLETED|     FELONY|N.Y. POLICE DEPT|MANHATTAN|         28|             null|               OTHER|    null|      null|    999463|    231690|40.802606608|-73.945051911|(40.802606608, -7...|
| 968417082|  12/31/2015|    23:30:00|        null|        null|12/31/2015|  344|ASSAULT 3 & RELAT...|  101|           ASSAULT 3|       COMPLETED|MISDEMEANOR|N.Y. POLICE DEPT|   QUEENS|        105|           INSIDE|     RESIDENCE-HOUSE|    null|      null|   1060183|    177862|40.654549444|-73.726338791|(40.654549444, -7...|
| 641637920|  12/31/2015|    23:25:00|  12/31/2015|    23:30:00|12/31/2015|  344|ASSAULT 3 & RELAT...|  101|           ASSAULT 3|       COMPLETED|MISDEMEANOR|N.Y. POLICE DEPT|MANHATTAN|         13|         FRONT OF|               OTHER|    null|      null|    987606|    208148|  40.7380024| -73.98789129|(40.7380024, -73....|
| 365661343|  12/31/2015|    23:18:00|  12/31/2015|    23:25:00|12/31/2015|  106|      FELONY ASSAULT|  109|ASSAULT 2,1,UNCLA...|       ATTEMPTED|     FELONY|N.Y. POLICE DEPT| BROOKLYN|         71|         FRONT OF|          DRUG STORE|    null|      null|    996149|    181562|40.665022689|-73.957110763|(40.665022689, -7...|
| 608231454|  12/31/2015|    23:15:00|        null|        null|12/31/2015|  235|     DANGEROUS DRUGS|  511|CONTROLLED SUBSTA...|       COMPLETED|MISDEMEANOR|N.Y. POLICE DEPT|MANHATTAN|          7|      OPPOSITE OF|              STREET|    null|      null|    987373|    201662|40.720199996|-73.988735082|(40.720199996, -7...|
| 265023856|  12/31/2015|    23:15:00|  12/31/2015|    23:15:00|12/31/2015|  118|   DANGEROUS WEAPONS|  792|WEAPONS POSSESSIO...|       COMPLETED|     FELONY|N.Y. POLICE DEPT|    BRONX|         46|         FRONT OF|              STREET|    null|      null|   1009041|    247401|40.845707148|-73.910398033|(40.845707148, -7...|
| 989238731|  12/31/2015|    23:15:00|  12/31/2015|    23:30:00|12/31/2015|  344|ASSAULT 3 & RELAT...|  101|           ASSAULT 3|       COMPLETED|MISDEMEANOR|N.Y. POLICE DEPT|    BRONX|         48|           INSIDE|RESIDENCE - APT. ...|    null|      null|   1014154|    251416|40.856711291|-73.891899956|(40.856711291, -7...|
| 415095955|  12/31/2015|    23:10:00|  12/31/2015|    23:10:00|12/31/2015|  341|       PETIT LARCENY|  338|LARCENY,PETIT FRO...|       COMPLETED|MISDEMEANOR|N.Y. POLICE DEPT|MANHATTAN|         19|           INSIDE|          DRUG STORE|    null|      null|    994327|    218211|40.765617688| -73.96362342|(40.765617688, -7...|
+----------+------------+------------+------------+------------+----------+-----+--------------------+-----+--------------------+----------------+-----------+----------------+---------+-----------+-----------------+--------------------+--------+----------+----------+----------+------------+-------------+--------------------+

In [14]:
spark.sql("select distinct BORO_NM from complaints").show()

+-------------+
|      BORO_NM|
+-------------+
|       QUEENS|
|     BROOKLYN|
|        BRONX|
|    MANHATTAN|
|STATEN ISLAND|
|         null|
+-------------+

In [17]:
spark.sql("select BORO_NM, count(*) from complaints group by BORO_NM").show()

+-------------+--------+
|      BORO_NM|count(1)|
+-------------+--------+
|       QUEENS| 1105621|
|     BROOKLYN| 1666903|
|        BRONX| 1209647|
|    MANHATTAN| 1331760|
|STATEN ISLAND|  265641|
|         null|     463|
+-------------+--------+

In [19]:
spark.sql("select count(*) from complaints").show()

+--------+
|count(1)|
+--------+
| 5580035|
+--------+

In [20]:
val df = spark.read
    .option("header", true)
    .option("inferSchema", "true")
    .csv("NYPD_Complaint_Data_Historic.csv")

df: DataFrame = [CMPLNT_NUM: int, CMPLNT_FR_DT: string ... 22 more fields]

In [21]:
val df2 = df.filter("BORO_NM = 'MANHATTAN'")

df2: Dataset[Row] = [CMPLNT_NUM: int, CMPLNT_FR_DT: string ... 22 more fields]

In [22]:
df2.count

res21: Long = 1331760L

In [23]:
df.groupBy(f.col("BORO_NM")).count().show()

+-------------+-------+
|      BORO_NM|  count|
+-------------+-------+
|       QUEENS|1105621|
|     BROOKLYN|1666903|
|        BRONX|1209647|
|    MANHATTAN|1331760|
|STATEN ISLAND| 265641|
|         null|    463|
+-------------+-------+

In [24]:
df.printSchema

root
 |-- CMPLNT_NUM: integer (nullable = true)
 |-- CMPLNT_FR_DT: string (nullable = true)
 |-- CMPLNT_FR_TM: string (nullable = true)
 |-- CMPLNT_TO_DT: string (nullable = true)
 |-- CMPLNT_TO_TM: string (nullable = true)
 |-- RPT_DT: string (nullable = true)
 |-- KY_CD: integer (nullable = true)
 |-- OFNS_DESC: string (nullable = true)
 |-- PD_CD: integer (nullable = true)
 |-- PD_DESC: string (nullable = true)
 |-- CRM_ATPT_CPTD_CD: string (nullable = true)
 |-- LAW_CAT_CD: string (nullable = true)
 |-- JURIS_DESC: string (nullable = true)
 |-- BORO_NM: string (nullable = true)
 |-- ADDR_PCT_CD: integer (nullable = true)
 |-- LOC_OF_OCCUR_DESC: string (nullable = true)
 |-- PREM_TYP_DESC: string (nullable = true)
 |-- PARKS_NM: string (nullable = true)
 |-- HADEVELOPT: string (nullable = true)
 |-- X_COORD_CD: integer (nullable = true)
 |-- Y_COORD_CD: integer (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Lat_Lon: string (nullable = true)

In [25]:
df.select(f.col("JURIS_DESC")).distinct.show()

+--------------------+
|          JURIS_DESC|
+--------------------+
|    N.Y. POLICE DEPT|
|      PORT AUTHORITY|
| N.Y. TRANSIT POLICE|
|  HEALTH & HOSP CORP|
|    U.S. PARK POLICE|
|   N.Y. STATE POLICE|
| N.Y. HOUSING POLICE|
| TRI-BORO BRDG TUNNL|
|         METRO NORTH|
|    N.Y. STATE PARKS|
|NEW YORK CITY SHE...|
| DEPT OF CORRECTIONS|
|NYS DEPT TAX AND ...|
|               OTHER|
|  LONG ISLAND RAILRD|
|             AMTRACK|
|STATN IS RAPID TRANS|
|           NYC PARKS|
|     POLICE DEPT NYC|
|             CONRAIL|
+--------------------+
only showing top 20 rows

In [26]:
df.groupBy(f.col("JURIS_DESC")).count.show()

+--------------------+-------+
|          JURIS_DESC|  count|
+--------------------+-------+
|    N.Y. POLICE DEPT|4960669|
|      PORT AUTHORITY|  27089|
| N.Y. TRANSIT POLICE| 120785|
|  HEALTH & HOSP CORP|   2801|
|    U.S. PARK POLICE|    206|
|   N.Y. STATE POLICE|   1351|
| N.Y. HOUSING POLICE| 428947|
| TRI-BORO BRDG TUNNL|   4880|
|         METRO NORTH|    595|
|    N.Y. STATE PARKS|    320|
|NEW YORK CITY SHE...|    164|
| DEPT OF CORRECTIONS|   6515|
|NYS DEPT TAX AND ...|     82|
|               OTHER|  14964|
|  LONG ISLAND RAILRD|    461|
|             AMTRACK|    162|
|STATN IS RAPID TRANS|    352|
|           NYC PARKS|    131|
|     POLICE DEPT NYC|   8987|
|             CONRAIL|     14|
+--------------------+-------+
only showing top 20 rows

In [28]:
df.groupBy(f.col("JURIS_DESC")).count.orderBy("count").show(100)

+--------------------+-------+
|          JURIS_DESC|  count|
+--------------------+-------+
|NYS DEPT ENVIRONM...|      1|
|DISTRICT ATTORNEY...|      1|
|             CONRAIL|     14|
|NYC DEPT ENVIRONM...|     14|
|SEA GATE POLICE DEPT|     30|
|NYS DEPT TAX AND ...|     82|
|           NYC PARKS|    131|
|             AMTRACK|    162|
|NEW YORK CITY SHE...|    164|
|    U.S. PARK POLICE|    206|
|    N.Y. STATE PARKS|    320|
|STATN IS RAPID TRANS|    352|
|  LONG ISLAND RAILRD|    461|
|FIRE DEPT (FIRE M...|    514|
|         METRO NORTH|    595|
|   N.Y. STATE POLICE|   1351|
|  HEALTH & HOSP CORP|   2801|
| TRI-BORO BRDG TUNNL|   4880|
| DEPT OF CORRECTIONS|   6515|
|     POLICE DEPT NYC|   8987|
|               OTHER|  14964|
|      PORT AUTHORITY|  27089|
| N.Y. TRANSIT POLICE| 120785|
| N.Y. HOUSING POLICE| 428947|
|    N.Y. POLICE DEPT|4960669|
+--------------------+-------+

In [29]:
df.filter(f.col("BORO_NM") === "BRONX").groupBy(f.col("JURIS_DESC"))
.count.orderBy("count").show(100)

+--------------------+-------+
|          JURIS_DESC|  count|
+--------------------+-------+
|STATN IS RAPID TRANS|      1|
|NYS DEPT ENVIRONM...|      1|
|    U.S. PARK POLICE|      1|
|SEA GATE POLICE DEPT|      1|
|DISTRICT ATTORNEY...|      1|
|NYC DEPT ENVIRONM...|      5|
|             AMTRACK|      7|
|             CONRAIL|     10|
|           NYC PARKS|     11|
|NYS DEPT TAX AND ...|     15|
|NEW YORK CITY SHE...|     32|
|      PORT AUTHORITY|     32|
|    N.Y. STATE PARKS|     62|
|         METRO NORTH|    126|
|FIRE DEPT (FIRE M...|    165|
|   N.Y. STATE POLICE|    216|
|  HEALTH & HOSP CORP|    585|
| TRI-BORO BRDG TUNNL|   1011|
|     POLICE DEPT NYC|   3495|
|               OTHER|   3967|
| DEPT OF CORRECTIONS|   5627|
| N.Y. TRANSIT POLICE|  17130|
| N.Y. HOUSING POLICE| 116281|
|    N.Y. POLICE DEPT|1060865|
+--------------------+-------+

In [30]:
val pop = spark.read
    .option("header", true)
    .option("inferSchema", "true")
    .csv("NYC_Population_by_Borough.csv")

pop: DataFrame = [Borough: string, Population: int]

In [31]:
pop.show()

+-------------+----------+
|      Borough|Population|
+-------------+----------+
|       QUEENS|   4460101|
|     BROOKLYN|   4970026|
|STATEN ISLAND|    912458|
|    MANHATTAN|   3123068|
|        BRONX|   2717758|
+-------------+----------+

In [32]:
df.groupBy(f.col("BORO_NM"))
.agg(f.count("*"), f.max("CMPLNT_FR_DT"), f.min("CMPLNT_FR_DT"))
.show()

+-------------+--------+-----------------+-----------------+
|      BORO_NM|count(1)|max(CMPLNT_FR_DT)|min(CMPLNT_FR_DT)|
+-------------+--------+-----------------+-----------------+
|         null|     463|       12/30/2005|       01/01/2002|
|        BRONX| 1209647|       12/31/2016|       01/01/1974|
|     BROOKLYN| 1666903|       12/31/2016|       01/01/1964|
|    MANHATTAN| 1331760|       12/31/2016|       01/01/1972|
|       QUEENS| 1105621|       12/31/2016|       01/01/1948|
|STATEN ISLAND|  265641|       12/31/2016|       01/01/1970|
+-------------+--------+-----------------+-----------------+

In [34]:
df.groupBy(f.col("BORO_NM"))
.agg(f.count("*"), f.max("CMPLNT_FR_DT"), f.min("CMPLNT_FR_DT"))
.join(pop, f.col("BORO_NM") === f.col("Borough"), "inner")
.show()

+-------------+--------+-----------------+-----------------+-------------+----------+
|      BORO_NM|count(1)|max(CMPLNT_FR_DT)|min(CMPLNT_FR_DT)|      Borough|Population|
+-------------+--------+-----------------+-----------------+-------------+----------+
|        BRONX| 1209647|       12/31/2016|       01/01/1974|        BRONX|   2717758|
|     BROOKLYN| 1666903|       12/31/2016|       01/01/1964|     BROOKLYN|   4970026|
|    MANHATTAN| 1331760|       12/31/2016|       01/01/1972|    MANHATTAN|   3123068|
|       QUEENS| 1105621|       12/31/2016|       01/01/1948|       QUEENS|   4460101|
|STATEN ISLAND|  265641|       12/31/2016|       01/01/1970|STATEN ISLAND|    912458|
+-------------+--------+-----------------+-----------------+-------------+----------+

In [35]:
df.write.parquet("complaints.parquet")

In [36]:
val dfp = spark.read.parquet("complaints.parquet")

dfp: DataFrame = [CMPLNT_NUM: int, CMPLNT_FR_DT: string ... 22 more fields]

In [37]:
df.count

res36: Long = 5580035L

In [38]:
dfp.count

res37: Long = 5580035L